.main {

    h1 {
        font-family: "Redressed";
        font-size: 4vw;
        color: #FFF9E8;
        margin-left: 3vw;
        text-decoration: underline;

    }

    h2 {
        font-family: "Lobster";
        color: #FFF9E8;
        text-align: center;
        font-size: 7vw;
        
    }

    img {
        display: block;
        margin: auto;
        height: 20vh;
    }

}