body {

    background-color: #648459;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

@import 'header';
@import 'menu';
@import 'footer';
@import 'login';

@import 'main';
@import 'info';
@import 'credit';

@import 'connexion';
@import 'dashboard';


@import 'indev';
@import 'error';