.login {

    h2 {
        color: #FFF9E8;
        text-align: center;
        font-size: 70px;
        text-decoration: underline;
        font-family: "Redressed";    
    }

    h1{
        text-align: center;
        font-family: "Lobster";
        font-size: 55px;
        color: #FFF9E8;
    }

    .ParkingUsername{
        background-color: #D1B977;
        border-radius: 30px;
        border: 1px solid black;
        height: 10vh;
        width: 45vw;
        font-family: "Redressed";
        font-size: 55px;
        color: #FFF9E8;
        margin-top: 4vh;
        display: block;
        margin: auto;
    }

    .ParkingPassword{
        background-color: #D1B977;
        border-radius: 30px;
        border: 1px solid black;
        height: 10vh;
        width: 40vw;
        font-family: "Redressed";
        font-size: 55px;
        color: white;
        margin-top: 3vh;
        margin-left: 1vw;
        display: block;
        margin: auto;
    }

    .Submit {
        background-color: #616161;
        border-radius: 30px;
        border: 1px solid black;
        height: 8vh;
        width: 15vw;
        font-family: "Redressed";
        font-size: 55px;
        color: #FFF9E8;
        margin-top: 9vh;
    }

}