.credits {

    h1 {

        text-decoration: underline;
        font-family: "Lora";
        font-size: 35px;
        color: #FFF9E8;
        margin-left: 3vw;
        margin-bottom: 12vh;
    }

    h2 {

        font-family: "Lora";
        font-size: 50px;
        text-align: center;
        color: #FFF9E8;
        margin-top: 4vh;

    }

}