.close-img {
    height: 65px;
    float: right;
    margin-top: 1vh;
    margin-right: 1vw;
}

.restante {
    background-color: #AA8A35;
    border-radius: 10px;
    border: 2px solid black;
    width: 25vw;
    height: 20vh;
    margin-left: 10vw;
    margin-top: 10vh;

    h2 {
        color: #FFF9E8;
        font-family: Source Sans Pro;
        text-decoration: underline;
        margin-left: 3px;
    }

    h3{
        color: #FFF9E8;
        font-family: Source Sans Pro;
        text-align: center;
        font-size: 2vw;
    }

}

.restante_1 {
    background-color: #AA8A35;
    border-radius: 10px;
    border: 2px solid black;
    width: 25vw;
    height: 20vh;
    margin-right: 10vw;
    margin-top: 10vh;
    float: right;
    h2 {
        color: #FFF9E8;
        font-family: Source Sans Pro;
        text-decoration: underline;
        margin-left: 3px;
    }

    h3{
        color: #FFF9E8;
        font-family: Source Sans Pro;
        text-align: center;
        font-size: 2vw;
    }
}