body {
    

    .error_page{
        background-color: #4B1212;
        padding-top: 15vh;
        padding-bottom: 32.2vh;

        .error_title {
            text-align: center;
            color: #D1B977;
            font-size: 3vw;
            font-family: Lobster;
        }

        .waberror{
            text-align: center;
            color: white;
            font-size: 2vw;
            font-family: Lobster;
            margin-bottom: 5vh;
        }
        
        .error_p{
            text-align: center;
            color: white;
            font-size: 2vw;
            font-family: Roboto;
            margin-bottom: 15vh;
        }

        .button_error{
            background-color: #648459;
            height: 8vh;
            width: 15vw;
            font-size: 2vw;
            font-family: Lobster;
            color: white;
            border-radius: 3px;
            display: block;
            margin: auto;
        }

    }

}