footer {
    line-height: 0px;

    h6{
        color: #E9DDBC;
        font-family: "Lobster";
        font-size: 25px;
        text-align: right;
        float: right;
        margin-right: 1vw;
        margin-top: 0px;
    }

    h5{
        color: #E9DDBC;
        font-family: "Lobster";
        font-size: 35px;
        text-align: center;
        margin-top: 45vh;
    }

}