.header {

    background-color: #245134;
    top: 0;
    left: 0;

    h1 {

        font-family: "Lobster";
        font-size: 65px;
        color: #D1B977;
        margin: 0;
        margin-left: 2vw;
        padding-bottom: 2vh;
        padding-top: 2vh;

    }

    .header-menu {

        height: 65px;
        float: right;
        margin-top: 2vh;
        margin-right: 2vh;

    }


}


