.indev {

    h1{

        color: #FFF9E8;
        font-family: "Lobster";
        font-size: 3vw;
        text-align: center;

    }

    h2 {

        color: #FFF9E8;
        font-family: "Redressed";
        font-size: 2vw;
        text-align: center;
        margin-top: 15vh;

    }

    a {

        text-align: center;

    }

    button {

        background-color: #AA8A35;
        height: 10vh;
        width: 23vw;
        display: block;
        margin: auto;
        font-family: "Lobster";
        font-size: 3vw;
        border: 3px solid #245134;
        border-radius: 15px;
        margin-top: 10vh;

    }

    button:hover {

        background-color: #D1B977;
        transform: translateY(-2vh);
        transition-duration: 2s;

    }


}