.info {

    #title {
        color: #FFF9E8;
        font-family: "Bebas Neue";
        font-size: 65px;
        text-align: center;
    }

    .subtitle {
        color: #FFF9E8;
        font-family: "Redressed";
        font-size: 50px;
        text-align: center;
        text-decoration: underline;
        margin-top: 5vh;
    }

    #enoncee-para{
        color: #FFF9E8;
        font-family: "Lora";
        font-size: 30px;
        text-align: center;
        margin-right: 5vw;
        margin-left: 5vw;
    }

    .problem-para {
        color: #FFF9E8;
        font-family: "Lora";
        font-size: 30px;
        text-align: center;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .rep-para-title {
        color: #FFF9E8;
        text-align: center;
        text-decoration: underline;
        font-family: "Lora";
        font-size: 35px;
        margin-bottom: 6vh;
    }

    .rep-part{
        color: #FFF9E8;
        text-align: center;
        font-family: "Lora";
        font-size: 30px;
    }

    .info-final {
        color: #FFF9E8;
        text-align: center;
        font-family: "Lobster";
        font-size: 55px;
        margin-top: 10vh;
    }


}