.menu {
    position: absolute;

    background-color: #245134;
    height: 100vh;
    width: 1vw;
    float: right;
    display: none;
    line-height: 1px;
    border-bottom-left-radius: 30px;
    transition-duration: 1s;
    right: 0;
    top: 0;
    
    .right {
        display: block;
    }

    .center{
        display: none;
    }

    h1 {

        color: #FFF9E8;
        font-family: "Lobster";
        text-align: center;
        text-decoration: underline;
        font-size: 3vw;
        margin-top: 10vh;
        margin-bottom: 20vh;

    }

    h2 {

        color: #FFF9E8;
        font-family: "Bebas Neue";
        text-align: right;
        font-size: 50px;
        margin-right: 1vw;
        text-decoration: none;
        margin-top: 10vh;


    }

    .connexion-img{

        height: 2vw;
        float: left;
        margin-top: 40.5vh;
        margin-left: 1vw;

    }

    .close{
        height: 3vh;
        float: right;
        margin-top: 40.5vh;
        margin-right: 1vw;
    }


}


.menu_open {
    display: block;
    width: 20vw;
    animation-name: translation_open;
    animation-duration: 0.5s;
    position: absolute;
}

.menu_close {
    width: 15vw;
    display: block;
    opacity: 5%;
    animation-name: translation_close;
    animation-duration: 0.5s;
}

@keyframes translation_open {
    from{
        width: 10vw;
        height: 5vh;
    }to {
        width: 20vw;
        height: 100vh;
    }
}

@keyframes translation_close {
    from{
        width: 20vw;
        display: block;
        opacity: 100%;
    }to {
        width: 15vw;
        display: none;
        opacity: 15%;
    }
}



.connexion {
    position: absolute;

    background-color: #245134;
    height: 100vh;
    width: 20vw;
    float: right;
    display: none;
    line-height: 1px;
    border-bottom-left-radius: 30px;
    transition-duration: 1s;
    right: 0;
    top: 0;

    .title-connexion {

        color: #FFF9E8;
        font-family: "Lobster";
        text-align: center;
        text-decoration: underline;
        font-size: 55px;
        margin-top: 15vh;
        margin-bottom: 9vh;

    }

    h1{
        text-align: center;
    }

    h2 {

        color: #FFF9E8;
        font-family: "Bebas Neue";
        text-align: right;
        font-size: 50px;
        margin-right: 1vw;
        text-decoration: none;
        margin-top: 19vh;


    }

    .connexion-img{

        height: 3vh;
        float: left;
        margin-top: 13.5vh;
        margin-left: 0.5vw;

    }

    .connexion-txt{

        font-family: "Roboto";
        font-size: 25px;
        color: #FFF9E8;
        margin-top: 18.9vh;
        margin-left: 2.5vw;

    }

    .close{
        height: 3vh;
        float: right;
        margin-top: 23vh;
        margin-right: 1vw;
    }

    .ParkingUsername{
        background-color: #D1B977;
        border-radius: 30px;
        border: 1px solid black;
        height: 5vh;
        width: 18vw;
        font-family: "Redressed";
        font-size: 40px;
        color: #FFF9E8;
        margin-top: 12vh;
    }

    .ParkingPassword{
        background-color: #D1B977;
        border-radius: 30px;
        border: 1px solid black;
        height: 5vh;
        width: 18vw;
        font-family: "Redressed";
        font-size: 40px;
        color: white;
        margin-top: 4vh;
    }

    .Submit {
        background-color: #616161;
        border-radius: 30px;
        border: 1px solid black;
        height: 6vh;
        width: 9vw;
        font-family: "Redressed";
        font-size: 30px;
        color: #FFF9E8;
        margin-top: 8vh;
    }

}

.connexion_open {
    display: block;
    width: 20vw;
    animation-name: con_open;
    animation-duration: 1s;
}

.connexion_close {
    opacity: 100%;
    display: block;
    animation-name: con_close;
    animation-duration: 1s;
}

@keyframes con_open {
    from{
        opacity: 10%;
    }to {
        opacity: 100%;
    }
}

@keyframes con_close {
    from{
        opacity: 100%;
    }to {
        opacity: 10%;
    }
}