.menu {

    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 12vw;
    }

    .connexion-img {
        margin-left: 5vw;
    }

}

.connexion {

    .ParkingUsername{
        width: 55vw;
    }

    .ParkingPassword {
        width: 55vw;
    }

}