body {
  background-color: #648459;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

.header {
  background-color: #245134;
  top: 0;
  left: 0;
}
.header h1 {
  font-family: "Lobster";
  font-size: 65px;
  color: #D1B977;
  margin: 0;
  margin-left: 2vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
}
.header .header-menu {
  height: 65px;
  float: right;
  margin-top: 2vh;
  margin-right: 2vh;
}

.menu {
  position: absolute;
  background-color: #245134;
  height: 100vh;
  width: 1vw;
  float: right;
  display: none;
  line-height: 1px;
  border-bottom-left-radius: 30px;
  transition-duration: 1s;
  right: 0;
  top: 0;
}
.menu .right {
  display: block;
}
.menu .center {
  display: none;
}
.menu h1 {
  color: #FFF9E8;
  font-family: "Lobster";
  text-align: center;
  text-decoration: underline;
  font-size: 3vw;
  margin-top: 10vh;
  margin-bottom: 20vh;
}
.menu h2 {
  color: #FFF9E8;
  font-family: "Bebas Neue";
  text-align: right;
  font-size: 50px;
  margin-right: 1vw;
  text-decoration: none;
  margin-top: 10vh;
}
.menu .connexion-img {
  height: 2vw;
  float: left;
  margin-top: 40.5vh;
  margin-left: 1vw;
}
.menu .close {
  height: 3vh;
  float: right;
  margin-top: 40.5vh;
  margin-right: 1vw;
}

.menu_open {
  display: block;
  width: 20vw;
  animation-name: translation_open;
  animation-duration: 0.5s;
  position: absolute;
}

.menu_close {
  width: 15vw;
  display: block;
  opacity: 5%;
  animation-name: translation_close;
  animation-duration: 0.5s;
}

@keyframes translation_open {
  from {
    width: 10vw;
    height: 5vh;
  }
  to {
    width: 20vw;
    height: 100vh;
  }
}
@keyframes translation_close {
  from {
    width: 20vw;
    display: block;
    opacity: 100%;
  }
  to {
    width: 15vw;
    display: none;
    opacity: 15%;
  }
}
.connexion {
  position: absolute;
  background-color: #245134;
  height: 100vh;
  width: 20vw;
  float: right;
  display: none;
  line-height: 1px;
  border-bottom-left-radius: 30px;
  transition-duration: 1s;
  right: 0;
  top: 0;
}
.connexion .title-connexion {
  color: #FFF9E8;
  font-family: "Lobster";
  text-align: center;
  text-decoration: underline;
  font-size: 55px;
  margin-top: 15vh;
  margin-bottom: 9vh;
}
.connexion h1 {
  text-align: center;
}
.connexion h2 {
  color: #FFF9E8;
  font-family: "Bebas Neue";
  text-align: right;
  font-size: 50px;
  margin-right: 1vw;
  text-decoration: none;
  margin-top: 19vh;
}
.connexion .connexion-img {
  height: 3vh;
  float: left;
  margin-top: 13.5vh;
  margin-left: 0.5vw;
}
.connexion .connexion-txt {
  font-family: "Roboto";
  font-size: 25px;
  color: #FFF9E8;
  margin-top: 18.9vh;
  margin-left: 2.5vw;
}
.connexion .close {
  height: 3vh;
  float: right;
  margin-top: 23vh;
  margin-right: 1vw;
}
.connexion .ParkingUsername {
  background-color: #D1B977;
  border-radius: 30px;
  border: 1px solid black;
  height: 5vh;
  width: 18vw;
  font-family: "Redressed";
  font-size: 40px;
  color: #FFF9E8;
  margin-top: 12vh;
}
.connexion .ParkingPassword {
  background-color: #D1B977;
  border-radius: 30px;
  border: 1px solid black;
  height: 5vh;
  width: 18vw;
  font-family: "Redressed";
  font-size: 40px;
  color: white;
  margin-top: 4vh;
}
.connexion .Submit {
  background-color: #616161;
  border-radius: 30px;
  border: 1px solid black;
  height: 6vh;
  width: 9vw;
  font-family: "Redressed";
  font-size: 30px;
  color: #FFF9E8;
  margin-top: 8vh;
}

.connexion_open {
  display: block;
  width: 20vw;
  animation-name: con_open;
  animation-duration: 1s;
}

.connexion_close {
  opacity: 100%;
  display: block;
  animation-name: con_close;
  animation-duration: 1s;
}

@keyframes con_open {
  from {
    opacity: 10%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes con_close {
  from {
    opacity: 100%;
  }
  to {
    opacity: 10%;
  }
}
footer {
  line-height: 0px;
}
footer h6 {
  color: #E9DDBC;
  font-family: "Lobster";
  font-size: 25px;
  text-align: right;
  float: right;
  margin-right: 1vw;
  margin-top: 0px;
}
footer h5 {
  color: #E9DDBC;
  font-family: "Lobster";
  font-size: 35px;
  text-align: center;
  margin-top: 45vh;
}

.main h1 {
  font-family: "Redressed";
  font-size: 2.5vw;
  color: #FFF9E8;
  margin-left: 2vw;
  text-decoration: underline;
}
.main h2 {
  font-family: "Lobster";
  color: #FFF9E8;
  text-align: center;
  font-size: 5vw;
}
.main img {
  display: block;
  margin: auto;
  height: 20vw;
}

.info #title {
  color: #FFF9E8;
  font-family: "Bebas Neue";
  font-size: 65px;
  text-align: center;
}
.info .subtitle {
  color: #FFF9E8;
  font-family: "Redressed";
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  margin-top: 5vh;
}
.info #enoncee-para {
  color: #FFF9E8;
  font-family: "Lora";
  font-size: 30px;
  text-align: center;
  margin-right: 5vw;
  margin-left: 5vw;
}
.info .problem-para {
  color: #FFF9E8;
  font-family: "Lora";
  font-size: 30px;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.info .rep-para-title {
  color: #FFF9E8;
  text-align: center;
  text-decoration: underline;
  font-family: "Lora";
  font-size: 35px;
  margin-bottom: 6vh;
}
.info .rep-part {
  color: #FFF9E8;
  text-align: center;
  font-family: "Lora";
  font-size: 30px;
}
.info .info-final {
  color: #FFF9E8;
  text-align: center;
  font-family: "Lobster";
  font-size: 55px;
  margin-top: 10vh;
}

.credits h1 {
  text-decoration: underline;
  font-family: "Lora";
  font-size: 35px;
  color: #FFF9E8;
  margin-left: 3vw;
  margin-bottom: 12vh;
}
.credits h2 {
  font-family: "Lora";
  font-size: 50px;
  text-align: center;
  color: #FFF9E8;
  margin-top: 4vh;
}

.login h2 {
  color: #FFF9E8;
  text-align: center;
  font-size: 70px;
  text-decoration: underline;
  font-family: "Redressed";
}
.login h1 {
  text-align: center;
  font-family: "Lobster";
  font-size: 55px;
  color: #FFF9E8;
}
.login .ParkingUsername {
  background-color: #D1B977;
  border-radius: 30px;
  border: 1px solid black;
  height: 10vh;
  width: 45vw;
  font-family: "Redressed";
  font-size: 55px;
  color: #FFF9E8;
  margin-top: 4vh;
  display: block;
  margin: auto;
}
.login .ParkingPassword {
  background-color: #D1B977;
  border-radius: 30px;
  border: 1px solid black;
  height: 10vh;
  width: 40vw;
  font-family: "Redressed";
  font-size: 55px;
  color: white;
  margin-top: 3vh;
  margin-left: 1vw;
  display: block;
  margin: auto;
}
.login .Submit {
  background-color: #616161;
  border-radius: 30px;
  border: 1px solid black;
  height: 8vh;
  width: 15vw;
  font-family: "Redressed";
  font-size: 55px;
  color: #FFF9E8;
  margin-top: 9vh;
}

.close-img {
  height: 65px;
  float: right;
  margin-top: 1vh;
  margin-right: 1vw;
}

.restante {
  background-color: #AA8A35;
  border-radius: 10px;
  border: 2px solid black;
  width: 25vw;
  height: 20vh;
  margin-left: 10vw;
  margin-top: 10vh;
}
.restante h2 {
  color: #FFF9E8;
  font-family: Source Sans Pro;
  text-decoration: underline;
  margin-left: 3px;
}
.restante h3 {
  color: #FFF9E8;
  font-family: Source Sans Pro;
  text-align: center;
  font-size: 2vw;
}

.restante_1 {
  background-color: #AA8A35;
  border-radius: 10px;
  border: 2px solid black;
  width: 25vw;
  height: 20vh;
  margin-right: 10vw;
  margin-top: 10vh;
  float: right;
}
.restante_1 h2 {
  color: #FFF9E8;
  font-family: Source Sans Pro;
  text-decoration: underline;
  margin-left: 3px;
}
.restante_1 h3 {
  color: #FFF9E8;
  font-family: Source Sans Pro;
  text-align: center;
  font-size: 2vw;
}

.indev h1 {
  color: #FFF9E8;
  font-family: "Lobster";
  font-size: 3vw;
  text-align: center;
}
.indev h2 {
  color: #FFF9E8;
  font-family: "Redressed";
  font-size: 2vw;
  text-align: center;
  margin-top: 15vh;
}
.indev a {
  text-align: center;
}
.indev button {
  background-color: #AA8A35;
  height: 10vh;
  width: 23vw;
  display: block;
  margin: auto;
  font-family: "Lobster";
  font-size: 3vw;
  border: 3px solid #245134;
  border-radius: 15px;
  margin-top: 10vh;
}
.indev button:hover {
  background-color: #D1B977;
  transform: translateY(-2vh);
  transition-duration: 2s;
}

body .error_page {
  background-color: #4B1212;
  padding-top: 15vh;
  padding-bottom: 32.2vh;
}
body .error_page .error_title {
  text-align: center;
  color: #D1B977;
  font-size: 3vw;
  font-family: Lobster;
}
body .error_page .waberror {
  text-align: center;
  color: white;
  font-size: 2vw;
  font-family: Lobster;
  margin-bottom: 5vh;
}
body .error_page .error_p {
  text-align: center;
  color: white;
  font-size: 2vw;
  font-family: Roboto;
  margin-bottom: 15vh;
}
body .error_page .button_error {
  background-color: #648459;
  height: 8vh;
  width: 15vw;
  font-size: 2vw;
  font-family: Lobster;
  color: white;
  border-radius: 3px;
  display: block;
  margin: auto;
}

/*# sourceMappingURL=app.css.map */
