.menu h1 {
  font-size: 15vw;
}
.menu h2 {
  font-size: 12vw;
}
.menu .connexion-img {
  margin-left: 5vw;
}

.connexion .ParkingUsername {
  width: 55vw;
}
.connexion .ParkingPassword {
  width: 55vw;
}

.main h1 {
  font-family: "Redressed";
  font-size: 7vw;
  color: #FFF9E8;
  margin-left: 2vw;
  text-decoration: underline;
}
.main h2 {
  font-family: "Lobster";
  color: #FFF9E8;
  text-align: center;
  font-size: 13vw;
}
.main img {
  display: block;
  margin: auto;
  height: 20vh;
}

/*# sourceMappingURL=phone.css.map */
