.menu {
  position: absolute;
  background-color: #245134;
  height: 100vh;
  width: 100vw;
  float: right;
  display: none;
  line-height: 1px;
  transition-duration: 1s;
  right: 0;
  top: 0;
}
.menu .right {
  display: none;
}
.menu .center {
  display: block;
}
.menu h1 {
  color: #FFF9E8;
  font-family: "Lobster";
  text-align: left;
  text-decoration: underline;
  font-size: 5vw;
  margin-top: 10vh;
  margin-bottom: 20vh;
  margin-left: 5vw;
}
.menu h2 {
  color: #FFF9E8;
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 5vw;
  text-decoration: none;
  margin-top: 5vw;
  margin-bottom: 12vh;
}
.menu .connexion-img {
  height: 3.5vh;
  float: left;
  margin-top: 28vh;
  margin-left: 4vw;
}
.menu .connexion-txt {
  font-family: "Roboto";
  font-size: 25px;
  color: #FFF9E8;
  margin-top: 42vh;
  margin-left: 4vw;
}
.menu .close {
  height: 4vh;
  float: right;
  margin-top: 28vh;
  margin-right: 1vw;
}

.menu_open {
  display: block;
  width: 100vw;
  animation-name: translation_open;
  border-bottom: none;
  animation-duration: 0.5s;
  position: absolute;
}

.menu_close {
  width: 15vw;
  display: block;
  opacity: 5%;
  animation-name: translation_close;
  animation-duration: 0.5s;
}

@keyframes translation_open {
  from {
    width: 10vw;
    height: 5vh;
  }
  to {
    width: 100vw;
    height: 100vh;
  }
}
@keyframes translation_close {
  from {
    width: 100vw;
    display: block;
    opacity: 100%;
  }
  to {
    width: 15vw;
    display: none;
    opacity: 15%;
  }
}
.connexion {
  position: absolute;
  background-color: #245134;
  width: 100vw;
  height: 100vh;
  float: right;
  display: none;
  line-height: 1px;
  border-bottom-left-radius: 30px;
  right: 0;
  top: 0;
}
.connexion .title-connexion {
  color: #FFF9E8;
  font-family: "Lobster";
  text-align: center;
  text-decoration: underline;
  font-size: 65px;
  margin-top: 10vh;
  margin-bottom: 13vh;
}
.connexion h1 {
  text-align: center;
}
.connexion h2 {
  color: #FFF9E8;
  font-family: "Bebas Neue";
  text-align: right;
  font-size: 50px;
  margin-right: 1vw;
  text-decoration: none;
  margin-top: 8vh;
}
.connexion .connexion-img {
  height: 3vh;
  float: left;
  margin-top: 13.5vh;
  margin-left: 0.5vw;
}
.connexion .connexion-txt {
  font-family: "Roboto";
  font-size: 25px;
  color: #FFF9E8;
  margin-top: 18.9vh;
  margin-left: 2.5vw;
}
.connexion .close {
  height: 4vh;
  float: right;
  margin-top: 21vh;
  margin-right: 1vw;
}
.connexion .ParkingUsername {
  background-color: #D1B977;
  border-radius: 30px;
  border: 1px solid black;
  height: 7vh;
  width: 35vw;
  font-family: "Redressed";
  font-size: 45px;
  color: #FFF9E8;
  margin-top: 4vh;
}
.connexion .ParkingPassword {
  background-color: #D1B977;
  border-radius: 30px;
  border: 1px solid black;
  height: 7vh;
  width: 35vw;
  font-family: "Redressed";
  font-size: 45px;
  color: white;
  margin-top: 5vh;
}
.connexion .Submit {
  background-color: #616161;
  border-radius: 30px;
  border: 1px solid black;
  height: 6vh;
  width: 20vw;
  font-family: "Redressed";
  font-size: 35px;
  color: #FFF9E8;
  margin-top: 12vh;
}

.connexion_open {
  display: block;
  width: 100vw;
  height: 100vh;
  animation-name: con_open;
  animation-duration: 1s;
}

.connexion_close {
  opacity: 100%;
  display: block;
  animation-name: con_close;
  animation-duration: 1s;
}

@keyframes con_open {
  from {
    opacity: 10%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes con_close {
  from {
    opacity: 100%;
  }
  to {
    opacity: 10%;
  }
}
.main h1 {
  font-family: "Redressed";
  font-size: 4vw;
  color: #FFF9E8;
  margin-left: 3vw;
  text-decoration: underline;
}
.main h2 {
  font-family: "Lobster";
  color: #FFF9E8;
  text-align: center;
  font-size: 7vw;
}
.main img {
  display: block;
  margin: auto;
  height: 20vh;
}

/*# sourceMappingURL=tablet.css.map */
